<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NHLScoreBot.Properties.Settings.ConnectionString" connectionString="data source=nhlstatsdb" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <!-- Interaction setting -->
    <!-- Current valid options: irc, text -->
    <add key="interaction" value="irc" />
    <!-- IRC settings -->
    <add key="server" value="irc.synirc.net" />
    <add key="port" value="6667" />
    <add key="channel" value="#bfa" />
    <add key="channel2" value="#nhl" />
    <add key="username" value="Stupid_Pierre" />
    <add key="realname" value="Jim_Hughson" />
    <add key="nick" value="Stupid_Pierre" />
    <add key="nick2" value="Stupid_Kypreos" />
    <add key="nickpw" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>